* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    height: 100vh;
    width: 100vw;
    font-family: 'Arial', sans-serif;
    background-color: #ecf0f1;
  }

  #root {
    height: 100vh;
    width: 100vw;
  }

  .login-container {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: stretch;
    background-color: #ffffff;
  }

  .plan-info {
    flex-basis: 35%;
    background-color: #81c784;
    color: #ffffff;
    padding-top: 5em;
  }

  .plan-info h2 {
    margin-bottom: 4.5em;
    margin-left: 27.5%;
    font-size: 2rem;
    font-weight: 600;
  }

  .plan-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 2%;
  }

  .plan-info li {
    padding: 1em 0;
    display: flex;
    align-items: center;
    font-size: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .plan-info li:last-child {
    border-bottom: none;
  }

  .plan-info li::before {
    content: '';
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: 10px;
    background-color: #ffffff;
    mask: url(path-to-your-icon.svg) no-repeat center;
    mask-size: contain;
    border-radius: 50%;
  }

  .plan-info .fa-icon {
    color: #ffffff;
    margin-right: 10px;
    font-size: 1.2rem;
  }

  .fa-infinity, .fa-check, .fa-cart-shopping, .fa-lightbulb {
    width: 1.2em;
    text-align: center;
    margin-right: 10%;
  }

  .login-form-container {
    flex-basis: 65%;
    padding-bottom: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login-form-container h1 {
    margin-bottom: 0em;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2%;
  }

  .login-form-container form{
    width: 80%;
    margin-top: 5%;
    margin-left: 15%;
  }

  .oauth-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .google {
    margin-top: 2%;
  }

  .facebook {
    margin-top: 2%;
  }

  input[type="email"], input[type="password"] {
    width: 80%;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }

  button[type="submit"] {
    background-color: #4caf50;
    transition: background-color 0.3s ease;
  }

  button[type="submit"]:hover {
    background-color: #45a049;
  }

  .oauth-button:first-child {
    background-color: #db4437;
    color: white;
  }

  .oauth-button:last-child {
    background-color: #000;
    color: white;
  }

  input[type="email"],
  input[type="password"] {
    width: 80%;
    padding: 1em;
    margin: 0.5em auto;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  button[type="submit"] {
    width: 80%;
    padding: 1em;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    margin-top: 0.5em;
    cursor: pointer;
  }
